<!doctype html>
<html lang="en">

<head>
    <title>VueJs Component</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="app1">
        <h1>
            App 1
        </h1>
        <div class="container">
            {{ message }}
            <component-a></component-a>
        </div>
    </div>

    <div id="app2">
        <div class="container">
            <component-satu></component-satu>
        </div>
    </div>

    <template id="component-satu">
        <p>Component Satu</p>
    </template>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var ComponentA = {
            template: '<p>{{ pesan }}</p>',
            data() {
                return {
                    pesan: 'Ini dari Component A'
                }
            }
        }

        // nama component kebabcase 
        // semua camel-case
        // global component
        Vue.component('component-satu', {
            template: '#component-satu',
            data() {
                return {
                    pesan: 'Ini dari Component A'
                }
            }
        })

        // object vue 1
        new Vue({
            el: '#app1',
            components: {
                'component-a': ComponentA
            },
            data: {
                message: 'Sanbercode'
            }
        });

        // object vue 2
        new Vue({
            el: '#app2'
        });
    </script>
</body>

</html>