<!doctype html>
<html lang="en">

<head>
    <title>VueJs Component</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div id="app1">
        <div class="container">
            <h1>Blog Yang dipilih : {{ selectedBlog }}</h1>
            <blog-componen v-for="(blog, index) in blogs" :blog="blog" :key="index"></blog-componen>
        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var BlogComponent = {
            template: `
                <div>
                    <h3>{{ blog.title }}</h3>
                    <p>{{ blog.content }}</p>
                </div>   
            `,
            data() {
                return {
                    pesan: 'Ini dari Blog Component'
                }
            },
            props: ['blog']
        }

        // object vue 1
        const vm = new Vue({
            el: '#app1',
            components: {
                'blog-componen': BlogComponent
            },
            data: {
                blogs: [{
                    title: 'Ini judul 1',
                    content: 'Ini kontent 1',
                }, {
                    title: 'Ini judul 2',
                    content: 'Ini kontent 2',
                }],
                selectedBlog: ''
            }
        });
    </script>
</body>

</html>