<!doctype html>
<html lang="en">

<head>
    <title>Ajax Request</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<div id="app" class="mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <h4 class="font-weight-normal text-center">Form Data</h4>
                        <form @submit.prevent="submitForm()">
                            <div v-if="errors.length">
                                <b>Please correct following error</b>
                                <ul class="list-unstyled">
                                    <li v-for="error in errors">
                                        <div class="alert alert-primary" role="alert">
                                            {{error}}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="form-group">
                                <label for="">Name</label>
                                <input type="text" :disabled="buttonStatus == 'upload'" name="name" id="name" class="form-control" ref="name" placeholder="Masukan nama" v-model="name">
                            </div>
                            <div class="form-group">
                                <label for="">Address</label>
                                <input type="text" :disabled="buttonStatus == 'upload'" name=" address " id="address " class="form-control " ref="address " placeholder="Masukan nama " v-model="address ">
                            </div>
                            <div class="form-group ">
                                <label for=" ">No HP</label>
                                <input type="text " :disabled="buttonStatus=='upload'" name="no_hp" id="no_hp" class="form-control" ref="no_hp" placeholder="Masukan nama" v-model="no_hp">
                            </div>
                            <div v-if="buttonStatus == 'upload'" class="form-group">
                                <label for="">Upload</label>
                                <input type="file" name="photo" ref="photo" class="form-control">
                            </div>

                            <div v-if="buttonStatus == 'submit'">
                                <button type="submit" class="btn btn-primary w-100">{{ buttonStatus }}</button>
                            </div>
                            <div class="row" v-else-if="buttonStatus == 'update'">
                                <div class="col">
                                    <input type="button" @click="updateMember(idEditMember)" value="UPDATE" class="btn btn-warning w-100">
                                </div>
                                <div class="col">
                                    <input type="button" value="CANCEL" @click="clearForm" class="btn btn-danger w-100">
                                </div>
                            </div>
                            <div class="row" v-else-if="buttonStatus == 'upload'">
                                <div class="col">
                                    <input type="button" value="UPLOAD" @click="submitFoto(idUploadMember)" class="btn btn-warning w-100">
                                </div>
                                <div class="col">
                                    <input type="button" value="CANCEL" @click="clearForm" class="btn btn-danger w-100">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="table-responsive">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>No HP</th>
                                <th>Profile</th>
                                <th>Address</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="member of members">
                                <td>{{ member.id }}</td>
                                <td>{{ member.name }}</td>
                                <td>{{ member.no_hp }}</td>
                                <td>
                                    <img :src="member.photo_profile ? photoDomain + member.photo_profile:'https://dummyimage.com/600x400/e6dae6/32ed07.png'" alt="profile-img" class="img-fluid w-25">
                                </td>
                                <td>{{ member.address }}</td>
                                <td>
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <button class="btn btn-warning btn-sm" @click="editMember(member)">Edit</button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button class="btn btn-sm btn-primary" @click="uploadFoto(member)">Upload Foto</button>
                                        </li>
                                        <li class="list-inline-item">
                                            <button class="btn btn-sm btn-danger" @click="removeMember(member.id)">Delete</button>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<body>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                name: '',
                address: '',
                no_hp: '',
                errors: [],
                members: [],
                photoDomain: 'http://demo-api-vue.sanbercloud.com/api/member',
                buttonStatus: 'submit',
                idEditMember: null
            },
            methods: {
                validationForm: function() {
                    this.errors = [];

                    if (this.name.length < 5) {
                        this.errors.push('Nama minimal 5 karakter');
                        this.errors.push.focus();
                    }

                    if (this.address.length === 0) {
                        this.errors.push('Address tidak boleh kosong');
                        this.errors.push.focus();
                    }

                    if (this.no_hp.length === 0) {
                        this.errors.push('Address tidak boleh kosong');
                        this.errors.push.focus();
                    }
                },

                clearForm: function() {
                    this.name = ''
                    this.address = ''
                    this.no_hp = ''
                    this.buttonStatus = 'submit'
                    this.idEditMember = null
                    this.idUploadMember = null

                },

                submitForm: function() {
                    this.validationForm();

                    if (this.errors.length === 0) {

                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: "post",
                            url: "http://demo-api-vue.sanbercloud.com/api/member",
                            data: formData
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMembers()
                                alert('Terimakasih anda telah mengisi data dengan benar');
                            })
                            .catch((error) => {
                                console.log(error);
                            })

                    }

                },

                getMembers: function() {
                    const config = {
                        method: 'get',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member'
                    }

                    axios(config)
                        .then((response) => {
                            console.log(response.data);
                            this.members = response.data.members;
                        })
                        .catch((error) => {
                            console.log(error);
                        });
                },

                removeMember: function(id) {
                    const config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: {
                            _method: 'DELETE'
                        }
                    }

                    axios(config)
                        .then((response) => {
                            this.getMembers();
                            alert(response.data.message)
                        })
                        .catch((error) => {
                            console.log(error);
                        })

                },

                editMember: function(member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'update'
                    this.idEditMember = member.id
                },

                updateMember: function(id) {
                    this.validationForm()

                    if (this.errors.length === 0) {

                        let formData = new FormData()
                        formData.append('name', this.name)
                        formData.append('address', this.address)
                        formData.append('no_hp', this.no_hp)

                        const config = {
                            method: "post",
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                            data: formData,
                            params: {
                                _method: 'PUT'
                            }
                        }

                        axios(config)
                            .then((response) => {
                                this.clearForm()
                                this.getMembers()
                                alert('Terimakasih anda telah update data dengan benar');
                            })
                            .catch((error) => {
                                console.log(error);
                            })

                    }
                },

                uploadFoto: function(member) {
                    this.name = member.name
                    this.address = member.address
                    this.no_hp = member.no_hp
                    this.buttonStatus = 'upload'
                    this.idUploadMember = member.id
                },

                submitFoto: function(id) {
                    let file = this.$refs.photo.files[0]
                    let formData = new FormData()
                    formData.append('photo_profile', file)

                    let config = {
                        method: "post",
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}/upload-photo-profile`,
                        data: formData,
                    }

                    axios(config)
                        .then((response) => {
                            this.clearForm()
                            this.getMembers()
                            alert('Terimakasih anda telah upload foto data dengan benar');
                        })
                        .catch((error) => {
                            console.log(error);
                        })
                }
            },
            created() {
                this.getMembers();
            }
        });
    </script>
</body>

</html>