<!doctype html>
<html lang="en">
  <head>
    <title>VUEJS</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="mt-5" id="app">
        <div class="container">
            <form @submit.prevent="submitForm()">
                <!-- alert error -->
                <p v-if="errors.length">
                    <b>Please correct following error</b>
                    <ul class="list-unstyled">
                        <li v-for="error in errors">
                            <div class="alert alert-primary" role="alert">
                                {{error}}
                            </div>
                        </li>
                    </ul>
                </p>
                <div class="form-group">
                    <label for="">Title : </label>
                    <input type="text" name="title" id="" class="form-control" ref="title" v-model="title">
                </div>
                <div class="form-group">
                    <label for="">Description : </label>
                    <textarea id="" rows="2" name="description" ref="description" class="form-control" v-model="description"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        const vm = new Vue({
            el: '#app',
            data: {
                title: '',
                description: '',
                errors: []
            },
            methods: {
                submitForm: function(){
                    this.errors = [];

                    if (this.title.length < 5) {
                        this.errors.push('Title minimal 5 karakter')
                        this.$refs.title.focus();
                    }
                    if(this.description.length > 10) {
                        this.errors.push('Descripsi maksimal 10 karakter')
                        this.$refs.description.focus();
                    }

                    if (this.errors.length === 0) {
                        alert('Terimkasih telah memasukan data dengan benar');
                    }
                }
            }
        });
    </script>
    </body>
</html>